<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folha de pagamento</title>
</head>
<body>
    <h2>Cauculo da folha de pagamento</h2>
    <!-- exibir um erro se existir-->
     {% if erro %}
    <p style="color: red;">{{erro}}</p>
    {{% endif %}}
    <form action="./caucular" method="post">
        <label>
            valor da troca trabalhada 
            <input type="number" step="0.1" name="valorHora" required/>
            <label>
                <br/>
            </label>
            numero de horas trabalhadas:
           
            <input type="number" step="0.1" name="horasTrabalhadas" required/>
        </label>
        <br/>
        <label>
            desconto com inss
            <input type="number"  step="0.1"  name="desconto" required />

        </label >
        <br />
        <input type="submit" value="Caucular" />
        
    </form>
    
</body>
</html>