<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formatçao das variavies</title>
</head>
<body>
    <p>imprimindo o valor das variavies</p>
    <P>variavel s ={{s}}</P>
    <p>variavel n normal = {{decimal_normal}}</p>
    <p>variavel n = {{decimal_08}}</p>
    <p>variavel n = {{decimal_08}}</p>
    <p>variavel booleana ={{b}}</p>
    <p> variavel booleana = {{f}}</p>
    <p>tipo da variavel</p>
    {% for chave}
</body>
</html>