<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <h2> Resultado da folha de pagamento</h2>
    <p> valor da hora trabalhada rs {{ valor_hora }}</p>
    <p>Horas trabalhadas no mes {{ horas_trabalhadas}}</p>
    <hr />
    <p> Salario bruto {{ salario_bruto}}</p>
    <p>Aliquota inss: {{ aliquota }}</p>
    <p>desconto_inss rs {{ desconto_inss}}</p>
    <p> desconto vale alimentçao {{desconto_va}}</p>
    <p> desconto vale transporte
        
    </p>
</body>
</html>