<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numero par ou impar</title>
</head>
<body>
    <!--Formulario enviando dados para rota /parouimpar-->
    <form action="/parouimpar" method="post">
    <label>
        informe seu numero:
        <input type="number" name="numero" />
    </label> <br />
    <input type="submit" value="Enviar" />
    </form>
    
</body>
</html>