<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folha de pagamento</title>
</head>
<body>
    <h2> folah de pagamento</h2>
    <form action="/resultado" method="post">

        <label>
               salario bruto
               <input type="number" name="salario" required>
        </label>
        <br />
        <label>
            vale alimentaçaão
            <input type="number" name="vale_aliemntacao" required>
        </label>
        <br />
        <label>
            vale transporte
            <input type="number" name="vale_transporte" required>
        </label>
        <br />
        <input type="submit" name="caucular" id="">
    </form>
</body>
</html>