<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cauculadora</title>
</head>
<body>
    <h2>Cauculadora Web em Python</h2>
    <!-- Formulario para a versao utilizando a funçao match-->
     <form action="/cauculo_match" method="post">
        <label>
            valor 1:
            <input type="number" name-="nota1" step="any" />
            <br />
        </label>
        <label>
            valor 2:
            <input type="number" name="nota2" step="any" />
        </label><br />
        <label>
            operação (+ - * /):
            <input type="text" name="nota3" size="2" />
        </label> <br />
        <label>
             <input type="submit" value="caucular (macth-case)"/>
        </label> <br />
        <label>
            <input type="text" name="turma">
        </label>
        <br />

        <label>
            informe a primeira nota:
            <input type="number" step="0.1" name="nota1">
        </label>

        








        <form action="/cauculo_if" method="post">
            <label>
                valor 1:
                <input type="number" name-="num1" step="any" />
                <br />
            </label>
            <label>
                valor 2:
                <input type="number" name="num2" step="any" />
            </label><br />
            <label>
                operação (+ - * /):
                <input type="text" name="operacao" size="2" />
            </label> <br />
            <label>
                 <input type="submit" value="caucular (if-else)"/>
            </label> <br />
    



        
     </form>
    
</body>
</html>