<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de notas</title>
</head>
<body>
    <h2>Sistema de notas, utilizando lista(Array)</h2>
     <form action="/caucular" method="post">
        <label>
        Nome do Aluno:<br />
        <input type="text" name="nome"  required/>
        <br />
    </label>
    <br />
    <label>
    primeira nota: <br />
    <input type="number" name="nota1" step="0.1" required>
    </label>
    <br>
   

</label>
segunda nota: <br />
<input type="number" name="nota2" step="0.1" required>
</label>
<br>


</label>
terceira nota: <br />
<input type="number" name="nota3" step="0.1" required>
</label>
<br>


</label>
quarta nota: <br />
<input type="number" name="nota4" step="0.1" required>
</label>
<br>


</label>
quinta nota: <br />
<input type="number" name="nota5" step="0.1" required>
</label>
<br>


















     </form>
    
</body>
</html>