<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
        <h2> Dados do aluno</h2>
        <p> nome do aluno {{ nome }}</p>
        <p> turma {{turma}}</p>
        {% for nota in notas %}
        <p>nota{{loop.index }}: {{nota}}</p>
        {%endfor%}

        <p> media final{{%.2f"|format(media)}}</p>
        <p>situacao curricular {{situacao}}</p>
    
</body>
</html>