<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrando os dados</title>
</head>
<body>
    <h2>{{mensagemn}}</h2>
    Seja Bem-vindo sr(a) {{nome}}<br />
    Sua idade é {{idade}}
    sua data de dataNascimento é {{dataNascimento}}<br />
    seu endereço é {{endereco}}<br />
    seu bairro é {{bairro}}<br />
    seu estado é {{estado}}<br />
    seu ceular {{ceular}}<br />
    seu email {{email}}<br />
    seu rg {{rg}}<br />

   
     
</body>
</html>