<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <!--Formlario enviando os dados para  rota /dados-->
    <h2> Formluario enviando os dados para rota /dados</h2>
    <form action="/dados" method="get">
        <label>
            informe o seu nome:
            <input type="text" name="nome" id="nome"/>
        </label>
        <br />
        <label>
            informe sua idade:
            <input type="number" name="idade" id="idade">
        </label>
        <br />
        <label>
            informe a sua data de nascimento:
            <input type="text" dataNascimento="dataNascimento" id="dataNascimento"
            <br/>
        </label>
        <label>
            informe o seu endereço:
            <input type="text" endereco="endereço" id="endereço">
            <br/>
        </label>
        <label>
            informe o seu estado:
            <input type="text" estado="estado" id="estado">
            <BR />
            
        </label>
            informe o seu ceular:
            <input type="number" ceular="ceular "id="ceular">
            <br />
        <label>
            informe o seu email:
            <input type="text" email="email" id="email">
            <br />
        </label>
        <label>
            informe o seu cpf:
            <input type="number" cpf="cpf" id="cpf">
            <br />
            
        </label>
        informe o seu rg:
        <input type="number" rg="rg" id="rg">
        <br />
        </label>
        <input type="submit" value="Enviar" />

    </form>
    
</body>
</html>