<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalhando com array</title>
</head>
<body>
    <h2>Armazenando os dados em lista(Array)</h2>
    <form action="/processar" method="post">
            <labe>
            informe o primeiro nome:
            <input type="text" name="n1" required>
            <br />
            <label>
            informe o segundo nome
            <input type="text" name="n2" required>
            </label>
            <br /> 
            <label>
            informe o terceiro nome:
            <input type="text" name="n3" required >
            </label>
            <br />
            <input type="submit" value="Enviar""/>
            <input type="reset" name="limpar" value="resetar">


    </form>
    <hl />
    <!-- So mostra o resultado se a lista tiver dados-->
     {% if nomes %}
         <p> Lista completa:{{ nomes }}</p>
         <br />
        {% for name in nomes %}
        <p> O nome que voce digitou é:{{ name }}</p>
        {% endfor %}
    {% endif %}


    
</body>
</html>