<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Variavel frutas1 </h1>
    <li>{{frutas[1]}}</li>
    <li>{{frutas[2]}}</li>
    <li>{{frutas[3]}}</li>

    <pre>{{frutas1}}</pre>

    <h1>Variavel frutas2 </h1>
    <li>{{frutas[0]}}</li>
    <li>{{frutas[1]}}</li>
    <li>{{frutas[2]}}</li>
    
    <pre>{{frutas2}}</pre>

    <h1>Variavel frutas3 </h1>
    <li>{{frutas[0]}}</li>
    <li>{{frutas[1]}}</li>
    <li>{{frutas[7]}}</li>
    <li>{{frutas[8]}}</li>

    <pre>{{frutas3}}</pre>
    <br />
    <h1>Variavel frase que tem os valores de fruta4</h1>
    {% for frase in frases}
        {{ frase }}

    {% endfor %}    


    
</body>
</html>