<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folha de Pagamento</title>
</head>
<body>
    <h2>Folaha de pagamento do funcionario</h2>
    <form method="post">
        nome:
        <input type="text" name="nome" required />
        <br />
        valor da hora trabalhada:
        <input type="number" name="valorhora" required />
        <br />
        horas trabalhadas no mes:
        <input type="number" step="0.1" name="horas" required />
        <br />
        vale alimentaçao:
        <input type="number" step="0.1" name="va" required />
        <br />
        vale transporte:
        <input type="number" step="0.1" name="vt" required />
        <br />
        <button type="submit">caucular</button>
        <form/>
</body>
</html>