<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado dos dados</title>
</head>
<body>
    <h2> Dados do aluno</h2>
    <p> Nome do Aluno: {{nome}}</p>
    <p>Idade Do  Aluno{{idade}}</p>
    <p>email do Aluno: {{email}}</p>
    <p>Telefone do Aluno{{telefone}}</p>
    <p>CPF do Aluno{{cpf}}</p>
    <p>Endereço do aluno{{endereco}}</p>
    <p> Cidade do aluno{{cidade}}</p>
    <a href="/">Voltar</a>    
</body>
</html>